* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #d4d4d4;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}
.bubbles i {
    position: relative;
    font-size: 60px;
    color: #4fc3dc;
    margin: 0 4px;
    animation: animate 15s linear infinite;
    animation-duration: calc(500s / var(--i));
}

.bubbles i:nth-child(even) {
    color: #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0.01);
    }
    100% {
        transform: translateY(-10vh) scale(0.4);
    }
}